@page
@model Ropot_Anastasia.Pages.DateExamen.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Data_Examen</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Examen.Data_Ex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data_Examen.Data_Ex)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Data_Examen?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
